<!-- SOBRE -->
<div id="about" class="main-block clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                    <div class="block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="1000" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-val="0">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_1.jpg" alt="">
                            <a class="about-title" href="#">We Offer To You</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="1">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_2.jpg" alt="">
                            <a class="about-title" href="#">We Are The Best</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="2">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_3.jpg" alt="">
                            <a class="about-title" href="#">Interesting Info</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="3">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_4.jpg" alt="">
                            <a class="about-title" href="#">Our History</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="4">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_1.jpg" alt="">
                            <a class="about-title" href="#">We Offer To You</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="5">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_2.jpg" alt="">
                            <a class="about-title" href="#">We Are The Best</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="6">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_3.jpg" alt="">
                            <a class="about-title" href="#">Interesting Info</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="7">
                        <div class="about-item">
                            <img class="img-responsive" src="img/about_4.jpg" alt="">
                            <a class="about-title" href="#">Our History</a>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
                        </div>
                    </div>                                
                  </div>
                <div class="pagination"></div>
            </div>              
        </div>
    </div>
</div>