{% assign count = '0' %}
<!-- AGENDA -->
<div id="schedule" class="main-block bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
        <div class="tab-wrapper">
            <div class="tab-nav-wrapper">
                <div  class="nav-tab">
                    <div class="nav-tab-item active">
                        {{ include.main_room }}
                    </div>
                    <div class="nav-tab-item">
                        {{ include.first_room }}
                    </div>
                    <div class="nav-tab-item">
                        {{ include.second_room }}
                    </div>
                    <div class="nav-tab-item">
                        {{ include.third_room }}
                    </div>
                </div>
            </div>
            <div class="tabs-content clearfix">
                <div class="tab-info active">  
                    {% assign pos = 'left' %}
                    {% for item in site.data.schedule_main %}
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                        <div class="shedule-block {{ pos }}">
                            <img class="shedule-user" src="img/schedules/{{ item.avatar }}" alt="">
                            <div class="shedule-entry">
                                <div class="shedule-date">{{ item.hour }}</div>
                                <h4><a class="shedule-speaker" href="#">{{ item.title }}</a></h4>
                                <div class="shedule-position">{{ item.speaker }}</div>
                                <div class="shedule-text">{{ item.description }}</div>
                            </div>
                        </div>
                        {% if pos == 'left' %} {% assign pos = 'right' %} {% else %} {% assign pos = 'left' %} {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-info">  
                    {% assign pos = 'left' %}
                    {% for item in site.data.schedule_room1 %}
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                        <div class="shedule-block {{ pos }}">
                            <img class="shedule-user" src="img/schedules/{{ item.avatar }}" alt="">
                            <div class="shedule-entry">
                                <div class="shedule-date">{{ item.hour }}</div>
                                <h4><a class="shedule-speaker" href="#">{{ item.title }}</a></h4>
                                <div class="shedule-position">{{ item.speaker }}</div>
                                <div class="shedule-text">{{ item.description }}</div>
                            </div>
                        </div>
                        {% if pos == 'left' %} {% assign pos = 'right' %} {% else %} {% assign pos = 'left' %} {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-info">  
                    {% assign pos = 'left' %}
                    {% for item in site.data.schedule_room2 %}
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                        <div class="shedule-block {{ pos }}">
                            <img class="shedule-user" src="img/schedules/{{ item.avatar }}" alt="">
                            <div class="shedule-entry">
                                <div class="shedule-date">{{ item.hour }}</div>
                                <h4><a class="shedule-speaker" href="#">{{ item.title }}</a></h4>
                                <div class="shedule-position">{{ item.speaker }}</div>
                                <div class="shedule-text">{{ item.description }}</div>
                            </div>
                        </div>
                        {% if pos == 'left' %} {% assign pos = 'right' %} {% else %} {% assign pos = 'left' %} {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-info">  
                    {% assign pos = 'left' %}
                    {% for item in site.data.schedule_community %}
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                        <div class="shedule-block {{ pos }}">
                            <img class="shedule-user" src="img/schedules/{{ item.avatar }}" alt="">
                            <div class="shedule-entry">
                                <div class="shedule-date">{{ item.hour }}</div>
                                <h4><a class="shedule-speaker" href="#">{{ item.title }}</a></h4>
                                <div class="shedule-position">{{ item.speaker }}</div>
                                <div class="shedule-text">{{ item.description }}</div>
                            </div>
                        </div>
                        {% if pos == 'left' %} {% assign pos = 'right' %} {% else %} {% assign pos = 'left' %} {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>                
    </div>
</div>