
*.iml

.idea/devday.github.com.iml

*.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/vcs.xml

.idea/.name

.idea/workspace.xml

_site/

_site/english.html

_site/index.html

node_modules/
