---
layout: default
---

{% include hero.html data="October 31" caneca="Buy Mug of #DEVDAY2015" inscreva_se="Get your tickets" %}

<!-- Header -->
<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><img class="hidden-xs" style="width:80px" src="assets/img/DevIsland_logo.png" alt="DevIsland"/></li>
        <!--li><a href="#about">About</a></li-->
        <!--<li><a href="#stat">Number Facts</a></li>-->
        <li><a href="#inscricoes">Tickets</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#sponsors">Sponsor</a></li>
        <li><a href="#organizacao">Curators</a></li>
        <!--li><a href="#hoteis">Hotels</a></li-->
        <li><a href="#map">Contact</a></li>
        <!--li><a href="/">Português</a></li-->
        <li class="featured"><a href="http://even.tc/devday-2015" target="_blank"><i class="fa fa-ticket fa-1x"></i>Get your tickets</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- End Header -->
<!-- About Section -->
<section id="about" class="section dark">
  <div class="container">
  <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
    <h3>We love code</h3>
    <div class="sub-title">An event made by <span class="highlight">developers</span> to <span class="highlight">developers</span>.</div>
    <br />
    <br />
    <section class="nav-tabs-simple">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#sobre-nos" data-toggle="tab"><i class="icon icon-documents-bookmarks-12"></i> About us</a></li>
        <li><a href="#social" data-toggle="tab"><i class="icon icon-chat-messages-01"></i> Social</a></li>
        <!--<li><a href="#codigo" data-toggle="tab"><i class="icon icon-education-science-11"></i> Code</a></li>-->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade" id="social">
          <article class="row">
            <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
              <img class="img-responsive" src="assets/img/redes-sociais.jpg" alt="starbuck" />
            </div>
            <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
              <h6>The event in social networks</h6>
      <ul class="sub-list">
        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/events/349244561897052/" target="_blank">Event on Facebook</a></li>
        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/hashtag/devday2015" target="_blank">Facebook oficial hashtag</a></li>
        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/search?q=%23DEVDAY2015" target="_blank">Twitter oficial hashtag #DEVDAY2015</a></li>
      </ul>
    </div>
          </article>
        </div>
        <div class="tab-pane fade in active" id="sobre-nos">
          <article class="row">
            <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
              <img class="img-responsive" src="assets/img/sobrenos.jpg" alt="iphone" />
            </div>
            <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
              <h6>About DEVDAY 2015</h6>
              <p>The DevIsland community is organizing DEVDAY again, an event for software developers.</p>
              <p>
              In its fifth edition, the DEVDAY 2015 will bring together approximately <span class="highlight">450 developers</span>.
              <br>
              We will have professionals recognized by the national market that will share their knowledge in <span class="highlight">20 lectures</span>  that make up the event agenda.
              <br>
              No developer can lose this event!
              <br>
              <span class="highlight"><a href="http://confcodeofconduct.com/" target="_blank">Code of Conduct.</a></span>
            </p>
            </div>
          </article></div>
      </div>
    </section>
  </div>
</section>
<!-- End About Section -->

{% include palestrantes.html palestrantes="Speakers" lang="en" %}

{% include agenda.html agenda="Schedule" auditorio="Auditorium" sala1="Room 1" sala2="Room 2" comunidade="Community Space" %}

<!-- Price Section -->
<section id="inscricoes" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-shopping-02"></span></div>
    <h3>Tickets</h3>
    <div class="sub-title">Come for the biggest software development event of Minas Gerais!</div>
<br/>
<br/>
  <div class="pricing-cols pricing-3-cols">
        <div class="pricing-col animated hiding visible-lg" data-animation="fadeInRight" data-delay="0">
            <div class="pricing-col-header">
                <h3 class="pricing-col-header-title">SECOND LOT</h3>
                <h4 class="pricing-col-header-amount">
                <span class="pricing-col-amount">R$105</span></h4>
            </div>
            <div class="pricing-col-content">
                <ul>
                    <li>100 seats</li>
                    <li>01 Set - 30 Set</li>
                </ul>
                <a class="pricing-col-button" href="http://even.tc/devday-2015">SOON</a>
            </div>
        </div>
        <div class="pricing-col pricing-col-featured" data-animation="fadeInLeft" data-delay="0">
            <div class="pricing-col-header">
                <h3 class="pricing-col-header-title">FIRST LOT</h3>
                <h4 class="pricing-col-header-amount">
                <span class="pricing-col-amount">R$94</span></h4>
            </div>
            <div class="pricing-col-content">
                <ul>
                    <li>100 seats</li>
                    <li>01 Aug - 31 Aug</li>
                </ul>
                <a class="pricing-col-button">SOON</a>
            </div>
        </div>
        <div class="pricing-col animated hiding visible-lg" data-animation="fadeInLeft" data-delay="0">
            <div class="pricing-col-header">
                <h3 class="pricing-col-header-title">THIRD LOT</h3>
                <h4 class="pricing-col-header-amount">
                <span class="pricing-col-amount">R$116</span></h4>
            </div>
            <div class="pricing-col-content">
                <ul>
                    <li>100 seats</li>
                    <li>01 Out - 30 Out</li>
                </ul>
                <a class="pricing-col-button" href="http://even.tc/devday-2015">SOON</a>
            </div>
        </div>
  </div>
  </div>
</section>
<!-- End Price Section -->
<!-- Register Section -->
<section id="register" class="section light">
  <div class="overlay"></div>
  <div class="container">
    <article class="article-big animated hiding" data-animation="fadeInUp" data-delay="0">
      <h5>Get your tickets to DEVDAY 2015 now!</h5>
      <p>
        Don't lose the biggest software development event of Minas Gerais.
        <br/>
        Come share experiences in a pleasant and inclusive environment.
      </p>
      <br/>
      <a href="http://even.tc/devday-2015" class="btn btn-sm btn-tertiary" target="_blank">Get your tickets</a>
    </article>
  </div>
</section>
<!-- End Register Section -->
<!-- Sponsors Section -->
<section id="sponsors" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div>
    <h3>Sponsor</h3>
    <div class="sub-title">Help the community to make this amazing event.</div>
    <br/>
    <h3>Diamond</h3>
    {% include patrocinadores_diamante.html %}
    <h3>Gold</h3>
    {% include patrocinadores_ouro.html %}
    <h4>Silver</h4>
    {% include patrocinadores_prata.html %}
    <h5>Bronze</h5>
    {% include patrocinadores_bronze.html %}
    <!-- <h6>Support</h6> -->
    {% include patrocinadores_apoio.html %}
 <div class="btn-wrapper">
  <a href="./static/midia-kit-en.pdf" target="_blank" class="btn btn-sm btn-primary" target="_blank">Become a sponsor</a>
 </div>
</div>
  </div>
</section>
<!-- End Price Section -->

{% include organizacao.html organizacao="Curators" nosso_time="Our team" %}

{% include hoteis.html hoteis="Hotels" %}

{% include contato.html contato="Contact" local="Venue" %}

<footer id="footer">
<div class="container">
<ul class="navigation-bar">
  <li><a href="#about">About</a></li>
  <!--<li><a href="#stat">Number Facts</a></li>-->
  <li><a href="#inscricoes">Tickets</a></li>
  <li><a href="#sponsors">Sponsor</a></li>
  <li><a href="#organizacao">Curators</a></li>
  <li><a href="#hoteis">Hotels</a></li>
  <li><a href="#map">Contact</a></li>
  <li><a href="/">Português</a></li>
  <li><a href="http://confcodeofconduct.com/">Code of Conduct</a></li>
  <li><img class="hidden-xs" src="assets/img/DevIsland_logo.png" alt="DevIsland"/></li>
</ul>
</div>
</footer>
