---
layout: default
---
<!-- MAIN-SLIDER -->                    
<div class="main-slider bordered clearfix">
    <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="0" data-center="0" data-slides-per-view="1" data-add-slides="1">
        <div class="swiper-wrapper">
            <div class="swiper-slide active" data-val="0">
                <div class="fullheight">
                    <img class="center-image" src="img/main_1.jpg" alt="">
                    <div class="vertical-align">
                        <div class="square-box"> 
                            <h4 class="square-date">2 DE SETEMBRO</h4>
                            <h2 class="square-title">DEVDAY 2017</h2><!-- img src="img/marca_cropped.png"/ -->
                            <div class="square-text">ESCOLA DE ENGENHARIA DA UFMG</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination"></div>
        <!-- <div class="swiper-arrow-left style-1"><img src="img/arrow_left.png" alt=""></div>   -->
        <!-- <div class="swiper-arrow-right style-1"><img src="img/arrow_right.png" alt=""></div>          -->
    </div>
</div>

<!-- COUNTERS -->
<div class="counter-wrapper clearfix">
    <div class="conteiner">
        <h4 class="counter-title">Time Left To Conference:</h4>
        <div class="counters-block clearfix" data-finaldate="02 sep 2017">
            <div class="counters-entry">
                <div class="counters-count days">21</div>
                <div class="counters-label">days</div>
            </div>
            <div class="counters-entry">
                <div class="counters-count hours">10</div>
                <div class="counters-label">hours</div>
            </div>
            <div class="counters-entry">
                <div class="counters-count minutes">48</div>
                <div class="counters-label">minutes</div>
            </div>
            <div class="counters-entry">
                <div class="counters-count seconds">37</div>
                <div class="counters-label">seconds</div>
            </div>
        </div>
        <a class="register-link c-btn b-50 yellow hv-yellow-o" href="#">joing us now</a>                
    </div>
</div>

<!-- SOBRE O EVENTO -->
{% include about.html category="DevDay" title="sobre o nosso evento" lang="pt" %}

<!-- PALESTRANTES -->
{% include speakers.html category="Nossos Convidados" title="Conheça os palestrantes" lang="pt" %}

<!-- INSCRICOES -->
<div id="sing" class="message-line">
    <div class="container">
        <div class="message-entry clearfix"> 
            <h2 class="message-title">Are You Ready Joing Us?</h2>
            <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
        </div>
        <a class="register-link c-btn b-50 black hv-yellow-o" href="#">register</a>                
    </div>
</div>

<!-- AGENDA -->
{% include schedule.html category="Agenda do Evento" title="Programação" 
main_room="Auditório" first_room="Sala 1" second_room="Sala 2" third_room="Comunidade" 
lang="pt" %}

<!-- PRICE -->
{% include tickets.html category="Venha participar do maior evento de desenvolvimento de software de Minas Gerais!" title="Inscrições" buy="Comprar" %}

<!-- PATROCINIO -->
<div id="partners" class="main-block style-2 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category img-full">Não se esqueça</h4>
                    <h2 class="block-title">Nossos Patrocinadores</h2>
                </div>
            </div>
        </div>
        <!-- <div class="row no-margin">
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry green">
                    <img src="img/sponsor_1.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_2.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry blue">
                    <img src="img/sponsor_3.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_4.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_5.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry red">
                    <img src="img/sponsor_6.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_7.png" alt="">
                </div>
            </div>                	                 	         
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry lightblue">
                    <img src="img/sponsor_8.png" alt="">
                </div>
            </div>                	                	
        </div> -->
    </div>
</div>


<!-- ORGANIZACAO -->
<div id="team" class="main-block style-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category img-full">Team DevDay &lt;3</h4>
                    <h2 class="block-title">organização</h2>
                </div>
            </div>
        </div>
        <!-- <div class="row no-margin">
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry green">
                    <img src="img/sponsor_1.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_2.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry blue">
                    <img src="img/sponsor_3.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_4.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_5.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry red">
                    <img src="img/sponsor_6.png" alt="">
                </div>
            </div>
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry white">
                    <img src="img/sponsor_7.png" alt="">
                </div>
            </div>                	                 	         
            <div class="no-padding col-xs-6 col-md-3">
                <div class="sponsor-entry lightblue">
                    <img src="img/sponsor_8.png" alt="">
                </div>
            </div>                	                	
        </div> -->
    </div>
</div>

<!-- CONTATO -->
<div id="contact" class="contact-block bg-dark">
    <div class="map-block" id="map-canvas" data-marker="img/pmarker.png" data-string="DevDay" data-lat="-19.869183" data-lng="-43.962739" data-zoom="16" data-style="style-1"></div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="contact-entry">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="s-contact">
                                <div class="contact-catagory">mais informações</div>
                                <div class="contact-title">entre em contato</div>
                                <!-- <div class="contact-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div> -->
                                <div class="contact-row">
                                    <p><i class="fa fa-envelope-o"></i><a href="mailto:devday@devisland.com">devday@devisland.com</a></p>
                                    <p><i class="fa fa-twitter"></i> <span>@devisland</span></p>

                                    <!-- <p><i class="fa fa-phone"></i><a href="tal:61402186411">+61 402 186 411</a>, <a href="tal:6166650">+61 66 650</a></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                                <div class="s-contact">
                                <div class="contact-catagory style-2">local do evento</div>
                                <div class="contact-title">UFMG</div>
                                <!-- <div class="contact-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div> -->
                                <div class="contact-row">
                                    <p><i class="fa fa-map-marker"></i>Escola de Engenharia da UFMG, Belo Horizonte</p>
                                    <p><i class="fa fa-clock-o"></i>08:30h às 18:00h</p>            						
                                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                                                           

