<!-- SOBRE -->
<div id="about" class="main-block clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                    <div class="block-text">{{ include.subtitle }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="1000" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-val="0">
                        <div class="about-item">
                            <img class="img-responsive" src="assets/img/about_1.jpg" alt="Coffee Break no DevDay 2014">
                            <a class="about-title" href="#">DevIsland & DevDay</a>
                            <div class="about-text">A comunidade de desenvolvimento DevIsland está organizando novamente o DEVDAY, um evento para pessoas que amam desenvolver software.</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="1">
                        <div class="about-item">
                            <img class="img-responsive" src="assets/img/about_2.jpg" alt="Foto aérea dos participantes do DevDay 2014">
                            <a class="about-title" href="#">A nossa comunidade!</a>
                            <div class="about-text">Em sua oitava edição, o DEVDAY 2018 vai lotar a casa com mais de 400 desenvolvedores e desenvolvedoras!<br/>Nos encontramos lá! ;)</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="2">
                        <a href="https://www.infoq.com/br/devday/" target="_blank">
                        <div class="about-item">
                            <img class="img-responsive" src="assets/img/about_3.jpg" alt="Foto DevDay 2014">
                            <a class="about-title" href="https://www.infoq.com/br/devday/" target="_blank">Edições anteriores</a>
                            <div class="about-text">Confira algumas das palestras que aconteceram nas edições anteriores. Está tudo em <a href="https://www.infoq.com/br/devday/" target="_blank">vídeo na InfoQ</a>, corre lá!</div>
                        </div>
                        </a>
                    </div>
                    <div class="swiper-slide" data-val="3">
                        <a href="https://www.facebook.com/DevIsland/" target="_blank">
                            <div class="about-item">
                                <img class="img-responsive" src="assets/img/about_4.jpg" style="height: 204px; width: " alt="Eu Curto!">
                                <a class="about-title" href="https://www.facebook.com/DevIsland/" target="_blank">Curta nossa Página!</a>
                                <div class="about-text">Se mantenha informado através das nossas redes sociais! Acesse a nossa página do <a href="https://www.facebook.com/DevIsland/" target="_blank"><b>Fabecook DevIsland</b></a>.</div>
                            </div>
                        </a>
                    </div>
                  </div>
                <div class="pagination"></div>
            </div>              
        </div>
    </div>
</div>