<section id="hero" class="light">
  <div class="container">
    <div class="home-bg">
      <nav class="navigation navigation-social">
        <ul class="navigation-bar">
          <li><a target="_blank" href="http://twitter.com/devisland"><span class="fa fa-twitter"></span></a>
          <li><a target="_blank" href="http://facebook.com/devisland"><span class="fa fa-facebook"></span></a>
          <li><a target="_blank" href="http://github.com/devisland"><span class="fa fa-github"></span></a>
          <li><a target="_blank" href="http://youtube.com/devisland"><span class="fa fa-youtube"></span></a>
          <li><a target="_blank" href="https://plus.google.com/communities/102004757201027948555"><span class="fa fa-google-plus"></span></a>
        </ul>
      </nav>
      <div class="hero-content text-center ">
        <div class="hero-small">
          <hr/>
          <span>
            <span class="fa fa-calendar hidden-xs"></span>
            <span class="fa" itemprop="startDate" content="2014-11-01">{{ include.data }}</span>,
            <div class="sep hidden-xs"></div>
            <span class="fa fa-map-marker hidden-xs"></span>
            <span class="fa" itemprop="location" itemscope itemtype="http://schema.org/Place">
              <span class="fa" itemprop="name">Escola de Engenharia, UFMG</span>
            </span>
          </span>
          <hr/>
        </div>
        <div class="hero-big" itemprop="name">DEVDAY<span class="highlight">2014</span></div>
        <img class="hidden-xs" src="assets/img/DevIsland_logo.png" alt="DevIsland"/>
        <div class="hero-normal">
          <span class="highlight">DEVELOPERS</span>, WHAT'S YOUR PROFESSION ???</div>
        <a href="http://even.tc/devday-2014" class="btn btn-lg btn-3d" target="_blank"><i class="fa fa-play-circle fa-2x"></i><span>{{ include.inscreva_se }}</span></a>
      </div>
    </div>
  </div>
</section>
