<section id="hoteis" class="section dark">
  <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-travel-transportation-17" aria-hidden="true"></span></div>
    <h3>{{ include.hoteis }}</h3>

    <section class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div>
          <div class="name">
            <a href="http://sossegodapampulha.com.br/" target="_blank">Sossego da Pampulha</a>
          </div>
        <div class="sub">Sugestão</div>
        <p class="small">Av. Cel. José Dias Bicalho, 1258.</p>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div>
          <div class="name">
            <a href="http://www.pampulhaflat.com/" target="_blank">Pampulha Flat</a>
          </div>
        <div class="sub">Sugestão</div>
        <p class="small">Alameda das Latânias, 1207.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div>
          <div class="name">
            <a href="http://atlanticahotels.com.br/hotel/belo-horizonte/go-inn-del-rey-belo-horizonte" target="_blank">Go Inn Del Rey</a>
          </div>
        <div class="sub">Sugestão</div>
        <p class="small">Avenida Del Rey, 233.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div>
          <div class="name">
            <a href="http://alliahotels.com.br/bristol/belo-horizonte/pampulha-lieu" target="_blank">Bristol Pampulha Lieu</a>
          </div>
        <div class="sub">Sugestão</div>
        <p class="small">Rua Desembargador Paula Mota, 187.</p>
        </div>
      </div>
  </div>
</section>
