<section id="organizacao" class="section light">
<div class="overlay"></div>
<div class="container">
  <div class="icon-wrap"><span class="icon icon-active icon-faces-users-04"></span></div>
  <h3>{{ include.organizacao }}</h3>
  <div class="sub-title">{{ include.nosso_time }}</div>
  <br>
  <br>
  <section class="row">
    <div class="col-md-offset-3 col-md-3 col-sm-3 col-xs-6">
      <div class="speaker-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
        <div class="img-wrapper">
          <img src="http://gravatar.com/avatar/97b0376c35b278395c719e145e4d1dc6?s=142" class="img-responsive img-circle" alt="speaker-1">
        </div>
        <div class="name">Douglas Aguiar</div>
        <div class="social-link">
          <a href="http://twitter.com/DouglasAguiar" target="_blank"><span class="fa fa-twitter"></span></a>
          <a href="http://github.com/douglasaguiar" target="_blank"><span class="fa fa-github"></span></a>
          <a href="https://www.linkedin.com/in/douglasaguiarreis" target="_blank"><span class="fa fa-linkedin"></span></a>
          <a href="http://facebook.com/douglas.aguiar.reis" target="_blank"><span class="fa fa-facebook"></span></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="speaker-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="500">
        <div class="img-wrapper">
          <img src="http://gravatar.com/avatar/dcba87f498b792756a0db3324408ccc4?s=142" class="img-responsive img-circle" alt="speaker-2">
        </div>
        <div class="name">Gibran Silva</div>
        <div class="social-link">
          <a href="http://twitter.com/ggibran" target="_blank"><span class="fa fa-twitter"></span></a>
          <a href="http://github.com/gibran" target="_blank"><span class="fa fa-github"></span></a>
          <a href="http://br.linkedin.com/pub/gibran-silva/5/692/426" target="_blank"><span class="fa fa-linkedin"/a>
          <a href="http://facebook.com/silva.gibran" target="_blank"><span class="fa fa-facebook"></span></a>
        </div>
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
  </section>
</div>
</section>
