<section id="speakers" class="section light">
<div class="overlay"></div>
<div class="container">
  <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
  <h3>{{ include.palestrantes }}</h3>
  <div class="sub-title">{{ include.embreve }}</div>
  <br>
  <br>
  <section class="row">
    {% for palestrante in site.data.palestrantes %}
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="speaker-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="500">
          <div class="img-wrapper">
            <img src="{{ palestrante.avatar }}" style="heigth:142px; width:142px" class="img-responsive img-circle" alt="{{ palestrante.nome }}">
          </div>
          <div class="name">{{ palestrante.nome }}</div>

          {% if(include.lang == "pt") %}
            <p class="small bio" data-toggle="tooltip" data-placement="bottom" title="{{ palestrante.bio }}">{{ palestrante.bio }}</p>
          {% else %}
            <p class="small bio" data-toggle="tooltip" data-placement="bottom" title="{{ palestrante.enBio }}">{{ palestrante.enBio }}</p>
          {% endif %}

          <div class="social-link">
            {% if(palestrante.twitter != "nil") %}
            <a href="http://twitter.com/{{ palestrante.twitter }}" target="_blank"><span class="fa fa-twitter"></span></a>
            {% endif %}
            <a href="http://github.com/{{ palestrante.github }}" target="_blank"><span class="fa fa-github"></span></a>
            <a href="{{ palestrante.linkedin }}" target="_blank"><span class="fa fa-linkedin"></span></a>
            <a href="http://facebook.com/{{ palestrante.facebook }}" target="_blank"><span class="fa fa-facebook"></span></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</div>
</section>
