<section id="speakers" class="section light">
<div class="overlay"></div>
<div class="container">
  <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
  <h3>{{ include.palestrantes }}</h3>
  <div class="sub-title">{{ include.embreve }}</div>
  <br>
  <br>
  <section class="row">
    {% for palestrante in site.data.palestrantes %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="speaker-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="500">
          <div class="img-wrapper">
            <img src="assets/img/palestrantes/{{ palestrante.avatar }}" style="heigth:142px; width:142px" class="img-responsive img-circle" alt="{{ palestrante.nome }}">
          </div>
          <a class="name fancybox" href="#palestrante{{ count }}">{{ palestrante.nome }}</a>

          <div class="none center" id="palestrante{{ count }}">
            <div class="img-wrapper center">
              <img src="assets/img/palestrantes/{{ palestrante.avatar }}" style="heigth:142px; width:142px;display:inline;" class="img-responsive img-circle" alt="{{ palestrante.nome }}">
            </div>
            <span style="font-weight:bolder;">{{ palestrante.nome }}</span>
              {% if(include.lang == "pt") %}
                <p>{{ palestrante.bio }}</p>
              {% else %}
                <p>{{ palestrante.enBio }}</p>
              {% endif %}
          </div>

          <div class="social-link">
            {% if(palestrante.twitter != "nil") %}
            <a href="http://twitter.com/{{ palestrante.twitter }}" target="_blank"><span class="fa fa-twitter"></span></a>
            {% endif %}

            {% if(palestrante.github != "nil") %}
            <a href="http://github.com/{{ palestrante.github }}" target="_blank"><span class="fa fa-github"></span></a>
            {% endif %}

            {% if(palestrante.linkedin != "nil") %}
            <a href="{{ palestrante.linkedin }}" target="_blank"><span class="fa fa-linkedin"></span></a>
            {% endif %}

            {% if(palestrante.facebook != "nil") %}
            <a href="http://facebook.com/{{ palestrante.facebook }}" target="_blank"><span class="fa fa-facebook"></span></a>
            {% endif %}

            {% if palestrante.googleplus != null %}
            <a href="http://google.com/+{{ palestrante.googleplus }}" target="_blank"><span class="fa fa-google-plus"></span></a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</div>
</section>
