<!-- PODCASTS -->
<div id="podcast" class="main-block clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                    <div class="block-text">{{ include.subtitle }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="1000" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-val="0">
                        <div class="about-item">
                            <a target="_blank" href="http://www.megafono.host/podcast/devislandpodcast/e/devisland-podcast-01-onde-tudo-era-mato"><img class="img-responsive" src="assets/img/podcasts/episode1.jpg" alt="Episódio 1 do DevIsland Podcast - Quando tudo era mato"></a>
                            <a class="about-title" href="#">Episódio 1</a>
                            <div class="about-text">Quando tudo era mato e o DevDay começou. <a target="_blank" href="http://www.megafono.host/podcast/devislandpodcast/e/devisland-podcast-01-onde-tudo-era-mato">Ouça o episódio</a></a></div>
                        </div>
                    </div>

                    <div class="swiper-slide" data-val="1">
                        <div class="about-item">
                            <a target="_blank" href="http://www.megafono.host/podcast/devislandpodcast/devisland-podcast-02-nao-ha-melhor-lugar-que-bh-para-sua-carreira"><img class="img-responsive" src="assets/img/podcasts/episode2.jpg" alt="Episódio 2 do DevIsland Podcast - Não há lugar melhor que BH para sua carreira"></a>
                            <a class="about-title" href="#">Episódio 2</a>
                            <div class="about-text">Belo Horizonte está borbulhando. Venha fazer bolinhas você também. <a target="_blank" href="http://www.megafono.host/podcast/devislandpodcast/devisland-podcast-02-nao-ha-melhor-lugar-que-bh-para-sua-carreira">Ouça o episódio</a></a></div>
                        </div>
                    </div>

                  </div>
                <div class="pagination"></div>
            </div>              
        </div>
    </div>
</div>