<div class="back-to-top"><i class="fa fa-angle-up fa-3x" aria-hidden="true"></i></div>
<!--[if lt IE 9]>
    <script type="text/javascript" src="assets/js/jquery-1.11.0.min.js?ver=1"></script>
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="assets/js/jquery-2.1.0.min.js?ver=1"></script>
<!--<![endif]-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.nav.js"></script>
<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
<script type="text/javascript" src="assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/waypoints-sticky.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="assets/mailchimp/js/mailing-list.js"></script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
