<!-- PALESTRANTES -->
<div id="speakers" class="main-block clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-wth-thumbs">
        <div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="1"
            style="height: 569px !important">
            <div class="swiper-wrapper">

                {% assign count = -1 %} 
                {% assign speakers = site.data.speakers %} 
                {% for tmp in speakers %} 
                {% assign speaker = tmp[1] %}
                {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                <div class="swiper-slide" data-val="{{count}}">
                    <div class="speaker-img">
                        <img class="center-image" src="assets/img/speakers/{{ speaker.avatar }}" alt="{{ speaker.name }}">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="speaker-block">
                                    {% assign talk_url = site.url | append: "/speakers/" | append: speaker.url %}


                                    <div class="speaker-title" title="Nome Palestrante">{{ speaker.name }}</div>
                                    <div class="speaker-category" title="Categoria Palestrante">
                                        <p>{{ speaker.category }}</p>
                                    </div>
                                    <div class="speaker-text strong" title="Título da Palestra">
                                        <p>{{ speaker.title }}</p>
                                    </div>
                                    
                                    <div class="speaker-text" title="Biografia Palestrante">
                                        <p>{{ speaker.bio }} <p><a href="{{ talk_url }}" title="Ler dados completos da palestra">+ leia mais</a></p></p>
                                    </div>
                     
                                    <div class="speaker-social clearfix">
                                        <div style="color: #fff; padding-bottom: 10px">Contatos</div>

                                        {% if speaker.lattes %}
                                        <a href="{{ speaker.lattes }}" target="_blank" title="Currículo Lattes de {{speaker.name}}">
                                            <i class="fa fa-lattes"></i>
                                        </a>
                                        {% endif %}
                                        {% if speaker.facebook %}
                                        <a href="http://facebook.com/{{ speaker.facebook }}" target="_blank" title="Link do Facebook {{speaker.name}}">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        {% endif %} 
                                        {% if speaker.website %}
                                        <a href="{{ speaker.website }}" target="_blank" title="Website de {{speaker.name}}">
                                            <i class="fa fa-globe"></i>
                                        </a>
                                        {% endif %} 
                                        {% if speaker.twitter %}
                                        <a href="http://twitter.com/{{ speaker.twitter }}" target="_blank" title="Link do Twitter {{speaker.name}}">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        {% endif %} {% if speaker.googleplus %}
                                        <a href="https://plus.google.com/{{ speaker.googleplus }}" target="_blank" title="Link do Google Plus {{speaker.name}}">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        {% endif %} {% if speaker.linkedin %}
                                        <a href="https://www.linkedin.com/in/{{ speaker.linkedin }}" target="_blank" title="Link do LinkedIn {{speaker.name}}">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        {% endif %} {% if speaker.github %}
                                        <a href="http://github.com/{{ speaker.github }}" target="_blank" title="Link do Github {{speaker.name}}">
                                            <i class="fa fa-github"></i>
                                        </a>
                                        {% endif %} {% if speaker.youtube %}
                                        <a href="{{ speaker.youtube }}" target="_blank" title="YouTube de {{speaker.name}}">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                        {% endif %}
                                    
                                    </div>
                                    
                                    <div style="display: inline-block"> 
                                            <div style="color: #fff; padding-bottom: 10px">Compartilhe</div>
                                            <ul class="share-btns">								
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ talk_url | url_encode }}" title="Compartilhar no Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ talk_url | url_encode }}'); return false;"><img alt="Compartilhar no Facebook" src="/assets/img/social/facebook.png" /></a></li>
                                                <li><a href="https://twitter.com/intent/tweet?source={{ talk_url | url_encode }}&text={{ talk_url | url_encode }}&via=devisland" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text={{ talk_url | url_encode }}'); return false;"><img alt="Tweet" src="/assets/img/social/twitter.png" /></a></li>
                                                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ talk_url | url_encode }}&title=DevDay 2018&summary=&source={{ talk_url | url_encode }}" target="_blank" title="Compartilhar no LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ talk_url | url_encode  }}&title=DevDay 2018'); return false;"><img alt="Compartilhar no LinkedIn" src="/assets/img/social/linkedin.png" /></a></li>
                                                <li><a href="mailto:?subject=DevDay 2018&body=:%20{{ talk_url | url_encode  }}" target="_blank" title="Send email" onclick="window.open('mailto:?subject=DevDay 2018&body={{ talk_url | url_encode }}'); return false;"><img alt="Send email" src="/assets/img/social/email.png" /></a></li>
                                            </ul>
                                    </div>
                                            
                                 
                                    
                                </div>
                                
                            </div>
                        </div>

                       
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination"></div>
            <div class="swiper-arrow-left style-1">
                <img src="assets/img/arrow_left.png" alt="">
            </div>
            <div class="swiper-arrow-right style-1">
                <img src="assets/img/arrow_right.png" alt="">
            </div>
        </div>
        <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="auto"
            data-mob-slides="3" data-xs-slides="4" data-sm-slides="6" data-md-slides="7" data-lg-slides="8" data-add-slides="12">
            <div class="swiper-wrapper">
                {% assign count = -1 %} 
                {% assign speakers = site.data.speakers %} 
                {% for tmp in speakers %} 
                {% assign speaker = tmp[1] %}
                {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                <div class="swiper-slide" data-val="{{ count }}">
                    <img class="img-responsive img-full" src="assets/img/speakers/thumbs/{{ speaker.avatar }}" alt="{{ speaker.name }}">
                    <div class="thumb-desc">
                        <div class="thumb-title">{{ speaker.name }}</div>
                        <div class="thumb-text">{{ speaker.category }}</div>
                    </div>
                    <div class="thumb-overlay"></div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination hidden"></div>
        </div>
    </div>

</div>