{% assign count = -1 %}
<!-- PALESTRANTES -->
<div id="speakers" class="main-block clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-wth-thumbs">
        <div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
            <div class="swiper-wrapper">
                {% for speaker in site.data.speakers %}
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                    {% if count == '0' %}
                        <div class="swiper-slide active" data-val="{{count}}">
                    {% else %}
                        <div class="swiper-slide active" data-val="{{count}}">
                    {% endif %}
                        <div class="speaker-img" style="height: 608px !important"><img class="center-image" src="assets/img/speakers/{{ speaker.avatar }}" alt="{{ speaker.name }}"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="speaker-block">
                                        <div class="speaker-title">{{ speaker.name }}</div>
                                        <div class="speaker-category">{{ speaker.category }}</div>
                                        <div class="speaker-text">{{ speaker.bio }}</div>
                                        <div class="speaker-social clearfix">
                                            {% if speaker.facebook %}
                                                <a href="http://facebook.com/{{ speaker.facebook }}"><i class="fa fa-facebook"></i></a>
                                            {% endif %}
                                            {% if speaker.twitter %}
                                                <a href="http://twitter.com/{{ speaker.twitter }}"><i class="fa fa-twitter"></i></a>
                                            {% endif %}
                                            {% if speaker.googleplus %}
                                                <a href="https://plus.google.com/{{ speaker.googleplus }}"><i class="fa fa-google-plus"></i></a>
                                            {% endif %}
                                            {% if speaker.linkedin %}
                                                <a href="{{ speaker.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                            {% endif %}
                                            {% if speaker.github %}
                                                <a href="http://github.com/{{ speaker.github }}"><i class="fa fa-github"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <!-- <div class="speaker-change clearfix">
                                            <img src="assets/img/speaker_change_1.jpg" data-image="assets/img/speaker_change_1_b.jpg" alt="">
                                            <img src="assets/img/speaker_change_2.jpg" data-image="assets/img/speaker_change_2_b.jpg" alt="">
                                            <img src="assets/img/speaker_change_3.jpg" data-image="assets/img/speaker_change_3_b.jpg" alt="">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}                                                                    
            </div>
            <div class="pagination"></div>
            <div class="swiper-arrow-left style-1"><img src="assets/img/arrow_left.png" alt=""></div>
            <div class="swiper-arrow-right style-1"><img src="assets/img/arrow_right.png" alt=""></div>
        </div>
        <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" 
              data-slides-per-view="responsive" data-mob-slides="3"  data-xs-slides="4" 
              data-sm-slides="6" data-md-slides="7" data-lg-slides="8" data-add-slides="8">
            <div class="swiper-wrapper">
                {% assign count = -1 %}
                {% for speaker in site.data.speakers %}                    
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                    {% if count == '0'x %}
                        <div class="swiper-slide current active" data-val="{{ count }}">
                    {% else %}
                        <div class="swiper-slide active" data-val="{{ count }}">
                    {% endif %}
                        <img class="img-responsive img-full" src="assets/img/speakers/thumbs/{{ speaker.avatar }}" alt="{{ speaker.name }}">
                        <div class="thumb-desc">
                            <div class="thumb-title">{{ speaker.name }}</div>
                            <div class="thumb-text">{{ speaker.category }}</div>
                        </div>
                        <div class="thumb-overlay"></div>
                    </div>
                {% endfor %}                                                            
            </div>
            <div class="pagination hidden"></div>
        </div>
    </div>

</div>
