<!-- SPONSORS -->
<div id="partners" class="main-block style-2 bg-grey">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="block-header">
                    <h4 class="block-category img-full">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>


        <!-- PRATA -->
        <div class="row no-margin">
            <h3 class="block-title">Prata</h3>
            <div class="no-padding col-xs-8 col-md-3" style="margin-right: 20px">
                <a href="https://www.maxmilhas.com.br/" target="_blank">
                    <div class="sponsor-entry">
                        <img src="assets/img/sponsors/maxmilhas.png" alt="MaxMilhas">
                    </div>
                </a>
            </div>

            <div class="no-padding col-xs-8 col-md-3" style="margin-right: 20px">
                <a href="https://pt.stackoverflow.com/" target="_blank">
                    <div class="sponsor-entry">
                        <img src="assets/img/sponsors/stackoverflow.svg" alt="Stackoverflow em Português">
                    </div>
                </a>
            </div>
        </div>
        <br/><br/><br/>

        <!-- BRONZE -->
        <div class="row no-margin">
            <h3 class="block-title">Bronze</h3>

            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="https://www.avenuecode.com.br/" target="_blank">
                    <div class="sponsor-entry size-big">
                        <img src="assets/img/sponsors/avenue-code.png" alt="Avenue Code">
                    </div>
                </a>
            </div>
            
            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="http://www.dtidigital.com.br/" target="_blank">
                    <div class="sponsor-entry size-big greenwater">
                        <img src="assets/img/sponsors/dti.png" alt="dti digital technologies">
                    </div>
                </a>
            </div>

            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="http://frwk.com.br/" target="_blank">
                    <div class="sponsor-entry white">
                        <img src="assets/img/sponsors/framework.png" alt="Framework System">
                    </div>
                </a>
            </div>

            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="http://www.take.net/" target="_blank">
                    <div class="sponsor-entry size-big">
                        <img src="assets/img/sponsors/take.png" alt="Take.net - one step beyond">
                    </div>
                </a>
            </div>            
        </div>
        <br/>
        <br/>
        <br/>

        <!-- APOIO -->
        <div class="row no-margin">
            <h3 class="block-title">Apoio</h3>
            <div class="no-padding col-xs-4 col-md-1">
                <a href="https://www.infoq.com/br/devday/" target="_blank">
                    <div class="sponsor-entry size-tiny">
                        <img src="assets/img/sponsors/infoq.png" alt="InfoQ Brasil">
                    </div>
                </a>
            </div>
            <div class="no-padding col-xs-4 col-md-1" style="margin-left: 20px">
                <a href="http://www.jetbrains.com" target="_blank">
                    <div class="sponsor-entry size-tiny">
                        <img src="assets/img/sponsors/jetbrains.png" alt="Jetbrains">
                    </div>
                </a>
            </div>

        </div>



        <div class="row">
            <div class="col-xs-12">
                <div class="block-header">

                </div>
            </div>
        </div>
    </div>
</div>
