<!-- SPONSORS -->
<div id="partners" class="main-block style-2 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="block-header">
                    <h4 class="block-category img-full">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                    <h4>Entre em contato conosco pelo e-mail: devday@devisland.com</h4>
                </div>
            </div>
        </div>
    
        <div class="row">
                <div class="col-xs-12">
                    <div class="block-header">
                        
                    </div>
                </div>
            </div>
    </div>
</div>