<!-- SPONSORS -->
<div id="partners" class="main-block style-2 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="block-header">
                    <h4 class="block-category img-full">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
    
        <!-- DIAMANTE -->
        <div class="row no-margin">
            <h3 class="block-title">Diamante</h3>
            <div class="no-padding col-xs-8 col-md-5">
                <a href="http://www.hotmart.com.br" target="_blank">
                    <div class="sponsor-entry darkblue">
                        <img src="assets/img/sponsors/hotmart-white.png" alt="Hotmart">
                    </div>
                </a>
            </div>
        </div>
        <br/><br/><br/>

        <!-- OURO -->
        <div class="row no-margin">
            <h3 class="block-title">Ouro</h3>
            <div class="no-padding col-xs-8 col-md-4">
                <a href="http://www.avenuecode.com.br/" target="_blank">
                    <div class="sponsor-entry size-bigger white">
                        <img src="assets/img/sponsors/avenue-code.png" alt="Avenue Code">
                    </div>
                </a>
            </div>
        </div>
        <br/><br/><br/>

        <!-- PRATA -->
        <div class="row no-margin">
            <h3 class="block-title">Prata</h3>
            <div class="no-padding col-xs-8 col-md-3" style="margin-right: 20px">
                <a href="http://www.localiza.com.br/" target="_blank">
                    <div class="sponsor-entry darkgreen">
                        <img src="assets/img/sponsors/localiza.png" alt="Localiza Rent A Car">
                    </div>
                </a>
            </div>
            <div class="no-padding col-xs-8 col-md-3" style="margin-right: 20px">
                <a href="https://pt.stackoverflow.com/" target="_blank">
                    <div class="sponsor-entry white">
                        <img src="assets/img/sponsors/stackoverflow.svg" alt="Stackoverflow em Português">
                    </div>
                </a>
            </div>
        </div>
        <br/><br/><br/>

        <!-- BRONZE -->
        <div class="row no-margin">
            <h3 class="block-title">Bronze</h3>
            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="http://www.take.net/" target="_blank">
                    <div class="sponsor-entry black">
                        <img src="assets/img/sponsors/take.png" alt="Take.net - one step beyond">
                    </div>
                </a>
            </div>
            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="http://www.dtidigital.com.br/" target="_blank">
                    <div class="sponsor-entry size-big greenwater">
                        <img src="assets/img/sponsors/dti.png" alt="dti digital technologies">
                    </div>
                </a>
            </div>
            <div class="no-padding col-xs-8 col-md-2" style="margin-right: 20px">
                <a href="http://www.frameworksystem.com/" target="_blank">
                    <div class="sponsor-entry white">
                        <img src="assets/img/sponsors/framework.png" alt="Framework System">
                    </div>
                </a>
            </div>
        </div>
        <br/><br/><br/>
        <!-- APOIO -->
        <div class="row no-margin">
            <h3 class="block-title">Apoio</h3>
            <div class="no-padding col-xs-4 col-md-1">
                <a href="https://www.infoq.com/br/devday/" target="_blank">
                    <div class="sponsor-entry size-tiny white">
                        <img src="assets/img/sponsors/infoq.png" alt="InfoQ Brasil">
                    </div>
                </a>
            </div>
            <div class="no-padding col-xs-4 col-md-1" style="margin-left: 20px">
                <a href="http://www.jetbrains.com" target="_blank">
                    <div class="sponsor-entry size-tiny white">
                        <img src="assets/img/sponsors/jetbrains.png" alt="Jetbrains">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>




<!-- 
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry green">
        <img src="assets/img/sponsors/sponsor_1.png" alt="">
    </div>
</div>
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry white">
        <img src="assets/img/sponsor_2.png" alt="">
    </div>
</div>
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry blue">
        <img src="assets/img/sponsor_3.png" alt="">
    </div>
</div>
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry white">
        <img src="assets/img/sponsor_4.png" alt="">
    </div>
</div>
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry white">
        <img src="assets/img/sponsor_5.png" alt="">
    </div>
</div>
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry red">
        <img src="assets/img/sponsor_6.png" alt="">
    </div>
</div>
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry white">
        <img src="assets/img/sponsor_7.png" alt="">
    </div>
</div>                                               
<div class="no-padding col-xs-6 col-md-3">
    <div class="sponsor-entry lightblue">
        <img src="assets/img/sponsor_8.png" alt="">
    </div>
</div>                                      
</div> -->