<!-- STAFF -->
<div id="team" class="main-block style-2 section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h4 class="block-category">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
        <section class="row">
        {% for organizador in site.data.staff.main %}
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="speaker-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
              <div class="img-wrapper">
                <img src="assets/img/staff/{{ organizador.avatar }}?s=142" class="img-responsive img-circle" alt="Foto {{ organizador.name }}">
              </div>
              <div class="name">{{ organizador.name }}</div>
              <div class="social-link">
                {% if organizador.twitter %}
                <a href="http://twitter.com/{{ organizador.twitter }}" target="_blank"><span class="fa fa-twitter" aria-label="Twitter {{ item.name }}"></span></a>
                {% endif %}
                {% if organizador.github %}
                <a href="http://github.com/{{ organizador.github }}" target="_blank"><span class="fa fa-github" aria-label="Github {{ item.name }}"></span></a>
                {% endif %}
                {% if organizador.linkedin %}
                <a href="{{ organizador.linkedin }}" target="_blank"><span class="fa fa-linkedin" aria-label="Linkedin {{ item.name }}"></span></a>
                {% endif %}
                {% if organizador.facebook %}
                <a href="http://facebook.com/{{ organizador.facebook }}" target="_blank"><span class="fa fa-facebook" aria-label="Facebook {{ item.name }}"></span></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </section>
        <!-- OTHERS -->
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="block-header">
                    <h2 class="block-title">{{ include.contribution }}</h2>
                </div>
            </div>
        </div>
        <section class="row">
        {% for item in site.data.staff.others %}
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="speaker-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
              <div class="img-wrapper">
                <img src="assets/img/staff/{{ item.avatar }}?s=142" class="img-responsive img-circle" alt="Foto {{ item.name }}">
              </div>
              <div class="name">{{ item.name }}</div>
              <div class="social-link">
                {% if item.twitter %}
                <a href="http://twitter.com/{{ item.twitter }}" target="_blank"><span class="fa fa-twitter" aria-label="Twitter {{ item.name }}"></span></a>
                {% endif %}
                {% if item.github %}
                <a href="http://github.com/{{ item.github }}" target="_blank"><span class="fa fa-github" aria-label="Github {{ item.name }}"></span></a>
                {% endif %}
                {% if item.linkedin %}
                <a href="{{ item.linkedin }}" target="_blank"><span class="fa fa-linkedin" aria-label="Linkedin {{ item.name }}"></span></a>
                {% endif %}
                {% if item.facebook %}
                <a href="http://facebook.com/{{ item.facebook }}" target="_blank"><span class="fa fa-facebook" aria-label="Facebook {{ item.name }}"></span></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
  </div>
</div>