<!-- TICKETS -->
<div id="tickets" class="main-block style-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="block-header">
                    <h4 class="block-category img-full">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-xs-12">
                <div class="block-header">
                    <h3 class="block-title opaque">Inscrições encerradas</h2>
					
					<h4 class="block-title opaque">Quer saber se alguém não pode ir e está oferecendo seu ingresso? Pergunte na <a href="https://www.facebook.com/events/102167513707927" alt="Link do evento do DevDay 2017 no Facebook"> discussão do Facebook do evento.</a></h4>
                </div>
            </div>
                                      
        </div>
    </div>
</div>