<!-- TICKETS -->
<div id="tickets" class="main-block style-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="block-header">
                    <h4 class="block-category img-full">{{ include.category }}</h4>
                    <h2 class="block-title">{{ include.title }}</h2>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-xs-12">
                <div class="block-header">
                    <h3 class="block-title opaque">Ingressos esgotados</h2>
                </div>
            </div>
                                      
        </div>
    </div>
</div>