--- 
layout: page 
---

<div class="main-block clearfix" style="background-color: darkslategray">
	<div class="container" >
		<div class="row">

			<div class="speaker-img">
				<img class="center-image" src="../../assets/img/speakers/{{ page.speaker.avatar }}" alt="{{ page.speaker.name }}">
			</div>
			<div class="container" >
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="speaker-block">
							<div class="speaker-title" title="Nome Palestrante">{{ page.speaker.name }}</div>
							<div class="speaker-category" title="Categoria Palestrante">
								<p>{{ page.speaker.category }}</p>
							</div>
							<div class="speaker-text strong" title="Título da Palestra">
								<p>Palestra: "{{ page.speaker.title }}"</p>
							</div>
							<div class="speaker-text strong" title="Descrição da Palestra">
								<p>{{ page.speaker.description }}</p>
							</div>
							{% if page.speaker.fullbio %}
							<div class="speaker-text" title="Biografia Palestrante">
								<p>Currículo: {{ page.speaker.fullbio }}</p>
							</div>
							{% else %}
							<div class="speaker-text" title="Biografia Palestrante">
								<p>Mini currículo: {{ page.speaker.bio }}</p>
							</div>
							{% endif %}
							<div class="speaker-text" title="Biografia Palestrante">
								<p>Serviço: DevDay 2018 <br>
								Data: 01/09/2018 <br>
								Local: Escola de Engenharia da UFMG - Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG <br>
								Inscrições: <a title="Link para aquisição do ingresso" href="https://devday.devisland.com/#tickets" target="_blank">https://devday.devisland.com/#tickets</a>
								</p>
							</div>
							<div class="speaker-social clearfix">
								<div style="color: #fff; padding-bottom: 10px">Contatos</div>

								{% if page.speaker.website %}
								<a href="{{ page.speaker.website }}" target="_blank" title="Website de {{page.speaker.name}}">
									<i class="fa fa-globe"></i>
								</a>
								{% endif %}
								{% if page.speaker.lattes %}
								<a href="{{ page.speaker.lattes }}" target="_blank" title="Currículo Lattes de {{page.speaker.name}}">
									<i class="fa fa-lattes"></i>
								</a>
								{% endif %}  
								{% if page.speaker.facebook %}
								<a href="http://facebook.com/{{ page.speaker.facebook }}" target="_blank" title="Link do Facebook {{speaker.name}}">
									<i class="fa fa-facebook"></i>
								</a>
								{% endif %} {% if page.speaker.twitter %}
								<a href="http://twitter.com/{{ page.speaker.twitter }}" target="_blank" title="Link do Twitter {{speaker.name}}">
									<i class="fa fa-twitter"></i>
								</a>
								{% endif %} {% if page.speaker.googleplus %}
								<a href="https://plus.google.com/{{ page.speaker.googleplus }}" target="_blank" title="Link do Google Plus {{speaker.name}}">
									<i class="fa fa-google-plus"></i>
								</a>
								{% endif %} {% if page.speaker.linkedin %}
								<a href="https://www.linkedin.com/in/{{ page.speaker.linkedin }}" target="_blank" title="Link do LinkedIn {{speaker.name}}">
									<i class="fa fa-linkedin"></i>
								</a>
								{% endif %} {% if page.speaker.github %}
								<a href="http://github.com/{{ page.speaker.github }}" target="_blank" title="Link do Github {{speaker.name}}">
									<i class="fa fa-github"></i>
								</a>
								{% endif %} {% if page.speaker.youtube %}
								<a href="{{ page.speaker.youtube }}" target="_blank" title="YouTube de {{speaker.name}}">
									<i class="fa fa-youtube"></i>
								</a>
								{% endif %}


								<div class="fb-share-button" 
								data-href="https://google.com/your-page.html" 
								data-layout="button_count">
							  </div>

								
							</div>

							{% assign talk_url = "https://devday.devisland.com/speakers/" | append: page.speaker.url %}

							<div style="display: inline-block"> 
									<div style="color: #fff; padding-bottom: 10px">Compartilhe</div>
									<ul class="share-btns">								
										<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ talk_url | url_encode }}" title="Compartilhar no Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ talk_url | url_encode }}'); return false;"><img alt="Compartilhar no Facebook" src="/assets/img/social/facebook.png" /></a></li>
										<li><a href="https://twitter.com/intent/tweet?source={{ talk_url | url_encode }}&text={{ talk_url | url_encode }}&via=devisland" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text={{ talk_url | url_encode }}'); return false;"><img alt="Tweet" src="/assets/img/social/twitter.png" /></a></li>
										<li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ talk_url | url_encode }}&title=DevDay 2018&summary=&source={{ talk_url | url_encode }}" target="_blank" title="Compartilhar no LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ talk_url | url_encode  }}&title=DevDay 2018'); return false;"><img alt="Compartilhar no LinkedIn" src="/assets/img/social/linkedin.png" /></a></li>
										<li><a href="mailto:?subject=DevDay 2018&body=:%20{{ talk_url | url_encode  }}" target="_blank" title="Send email" onclick="window.open('mailto:?subject=DevDay 2018&body={{ talk_url | url_encode }}'); return false;"><img alt="Send email" src="/assets/img/social/email.png" /></a></li>
									</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>