---
layout: default
title: DevDay 2017 | Belo Horizonte
header_background_image: /assets/img/main_1.png
newsletter_background_image: 'https://source.unsplash.com/c8ET5XvBwnU/2000x1322?a=.png'
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/idangerous.swiper.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
  	<title>{{ title }}</title>
</head>
<body data-color="yellow">

     <!-- LOADER -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
			  <div class="bigSqr">
			    <div class="square first"></div>
			    <div class="square second"></div>
			    <div class="square third"></div>
			    <div class="square fourth"></div>
			  </div>
            </div>
        </div>
        <div id="loading-text">Loading</div>
    </div>

    <!-- HEADER -->
    <header class="header type-1">
    	<div class="container">
            <div class="logo-block">
			     <a class="logo" href="#"><img src="assets/img/logo_devisland.png" style="height: 28px" alt=""></a>
            </div>
			<nav class="main-nav">
                <ul class="anchor-navigation">
                    <li><a class="anchor-scroll" href="#about">Sobre</a></li>
                    <li><a class="anchor-scroll" href="#speakers">Palestrantes</a></li>
                    <li><a class="anchor-scroll" href="#schedule">Agenda</a></li>
                    <li><a class="anchor-scroll" href="#tickets">Inscrições</a></li>
                    <li><a class="anchor-scroll" href="#partners">Patrocínio</a></li>
                    <li><a class="anchor-scroll" href="#team">Organização</a></li>
                    <li><a class="anchor-scroll" href="#contact">Contato</a></li>
                </ul>				
			</nav>
            <button class="cmn-toggle-switch"><span></span></button>
    	</div>
    </header>
    
    

    <div id="content-wrapper">
    
        {{ content }}
    
    </div>


    <!-- FOOTER -->
    <footer class="footer">
    	<div class="container">
    		<img class="f-logo" src="assets/img/DevIsland_logo.png" alt="">
    		<div class="copy">© 2017 DevIsland - todos os direitos reservados</div>
    	</div>
    </footer>

	<div class="register-popup custom-popup">
		<form  action="mail.php" class="js-contact-form" method="POST">
			<div class="popup-close"><i class="fa fa-times"></i></div>
			<h3 class="popup-title  form-element">Register for conference</h3>
			<div class="c-form-group form-element">
				<div class="c-form-label">First name</div>
				<input type="text"  name="fields[first_name]" >
			</div>
			<div class="c-form-group form-element">
				<div class="c-form-label">Last name</div>
				<input type="text"  name="fields[last_name]" >
			</div>
			<div class="c-form-group form-element">
				<div class="c-form-label">Email</div>
				<input type="email"  name="fields[email]" >
			</div>
			<div class="c-form-group form-element">
				<div class="c-form-label">Phone</div>
				<input type="tel"  name="fields[phone]" >
			</div>
			<div class="c-form-group form-element">
				<div class="message-result">
	                <div class="ajax-result">
	                	<div class="success"></div>
	                    <div class="error"></div>
	                </div>
                	<div class="ajax-loader"></div>
	            </div>
			</div>
			<input class="c-btn b-50 black hv-yellow-o  form-element" type="submit" value="Register">
		</form>
	</div>    

    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/idangerous.swiper.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagelightbox.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>  
    <script src="assets/js/global.js"></script>
    <script src="assets/js/anchors.navigation.js"></script>    
</body>
</html>
